<footer class=" purple darken-3 page-footer">
    <div class="container">
        <div class="row">
            <div class="col l5 s12">
                <h5 class="white-text">Basic Flux</h5>
                <p class="grey-text text-lighten-4">Consultoria de servicos financeiros e tecnológicos, voltados para pequenas empresas e pessoas.</p>
            </div>

            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Serviços</h5>
                <ul>
                    <li>
                        <a href="/pages/Acupuntura.html" class="white-text">Financeiro</a>
                    </li>
                    <li>
                        <a href="#!" class="white-text">Sistematização</a>
                    </li>
                    <li>
                        <a href="#!" class="white-text">Inovação</a>
                    </li>
                    <li>
                        <a href="/pages/kungfu.html" class="white-text">Serviços Digitais</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Desenvolvido por
            <a class="grey-text text-lighten-4" href="#!">Basic Flux</a>
        </div>
    </div>
</footer>
<div id="divMidiaSocial" style="position: fixed; bottom: 0; right: 0;" class="ng-scope">
        <a href="https://www.facebook.com/basicflux/" target="_blank">
            <img src="http://basicflux.com/img/facebook-logo-button.png" alt="Facebook" class="imagem-social">
        </a>
        <a href="https://www.instagram.com/basicflux/" target="_blank">
            <img src="http://basicflux.com/img/instagram-logo.png" alt="Instagram" class="imagem-social">
        </a>
    </div>
    <style>
        .imagem-social {
            height: 30px;
            bottom: 6px;
            margin-right: 6px;
        }
    </style>