<footer class=" purple darken-3 page-footer">
    <div class="footer-copyright">
        <div class="container">
            Desenvolvido por
            <a class="grey-text text-lighten-4" href="#!">Basic Flux</a>
        </div>
    </div>
</footer>
<div id="divMidiaSocial" style="position: fixed; bottom: 0; right: 0;" class="ng-scope">
        <a href="https://www.facebook.com/basicflux/" target="_blank">
            <img src="../img/facebook-logo-button.png" alt="Facebook" class="imagem-social">
        </a>
        <a href="https://www.instagram.com/basicflux/" target="_blank">
            <img src="../img/instagram-logo.png" alt="Instagram" class="imagem-social">
        </a>
    </div>
    <style>
        .imagem-social {
            height: 30px;
            bottom: 6px;
            margin-right: 6px;
        }
    </style>