<nav class="black" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo"></a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="/" onclick="$('.button-collapse').sideNav('hide');">Início</a>
            </li>
            <li>
                <a id="menuDesk6" class="dropdown-button" href="#!" data-activates="ddService">Serviços
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
            <li>
                <a href="#!portifolio" onclick="$('.button-collapse').sideNav('hide');">Portifolio</a>
            </li>
            <li>
                <a href="#!app" onclick="$('.button-collapse').sideNav('hide');">Apps</a>
            </li>
            <li>
                <a href="http://blog.basicflux.com" target="_blank" onclick="$('.button-collapse').sideNav('hide');">Blog</a>
            </li>
            <li>
                <a href="#!contato" class="waves-effect purple darken-3 waves-light btn" onclick="$('.button-collapse').sideNav('hide');">Contato</a>
            </li>

        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li>
                <a href="/" onclick="$('.button-collapse').sideNav('hide');">Início</a>
            </li>
            <li>
                <a id="menuDesk2" class="dropdown-button" href="#!" data-activates="ddService">Serviços
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
            <li>
                <a href="#!portifolio" onclick="$('.button-collapse').sideNav('hide');">Portifolio</a>
            </li>
            <li>
                <a href="#!app" onclick="$('.button-collapse').sideNav('hide');">Apps</a>
            </li>
            <li>
                <a href="http://blog.basicflux.com" target="_blank" onclick="$('.button-collapse').sideNav('hide');">Blog</a>
            </li>
            <li>
                <a href="#!contatos" onclick="$('.button-collapse').sideNav('hide');">Contato</a>
            </li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse">
            <i class="material-icons">menu</i>
        </a>
    </div>
</nav>
<!-- servicos -->
<ul id="ddService" class="dropdown-content purple darken-3">
    <li>
        <a href="#!financeiro" class="white-text" onclick="$('.button-collapse').sideNav('hide');">Financeiro</a>
    </li>
    <li>
        <a href="#!sistematizacao" class="white-text" onclick="$('.button-collapse').sideNav('hide');">Sistematização</a>
    </li>
    <li>
        <a href="#!inovacao" class="white-text" onclick="$('.button-collapse').sideNav('hide');">Inovação</a>
    </li>
    <li>
        <a href="#!servicosdigitais" class="white-text" onclick="$('.button-collapse').sideNav('hide');">Serviços Digitais</a>
    </li>
</ul>


<!-- Apps -->
<ul id="ddApps" class="dropdown-content  purple darken-3">
    <li>
        <a href="#!app" class="purple-text" onclick="$('.button-collapse').sideNav('hide');">The Flux</a>
    </li>
</ul>

<script>



    function FixInterface() {
        $('.button-collapse').sideNav({
            //closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true, // Choose whether you can drag to open on touch screens,
            onOpen: function (el) {
                $("#menuDesk2").dropdown();
            }, // A function to be called when sideNav is opened
            onClose: function (el) {
                $("#menuDesk6").dropdown();
            }
        }
        );
    }

    (function ($) {
        $(function () {

            $("#menuDesk6").dropdown();
            FixInterface();
        }); // end of document ready
    })(jQuery); // end of jQuery name space
</script>