<nav class="black" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo"></a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="/">Início</a>
            </li>
            <li>
                <a id="menuDesk6" class="dropdown-button" href="#!" data-activates="ddService">Serviços
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
            <li>
                <a href="#!portifolio">Portifolio</a>
            </li>
            <li>
                <a href="/pages/localizacao.html">Apps</a>
            </li>
            <li>
                <a href="http://blog.basicflux.com" target="_blank">Blog</a>
            </li>
            <li>
                <a href="/pages/localizacao.html" class="waves-effect purple darken-3 waves-light btn">Contato</a>
            </li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li>
                <a href="/">Início</a>
            </li>
            <li>
                <a id="menuDesk2" class="dropdown-button" href="#!" data-activates="ddService">Serviços
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
            <li>
                <a href="#!portifolio">Portifolio</a>
            </li>
            <li>
                <a href="/pages/localizacao.html">Apps</a>
            </li>
            <li>
                <a href="http://blog.basicflux.com" target="_blank">Blog</a>
            </li>
            <li>
                <a href="/pages/localizacao.html">Contato</a>
            </li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse">
            <i class="material-icons">menu</i>
        </a>
    </div>
</nav>
<!-- servicos -->
<ul id="ddService" class="dropdown-content purple darken-3">
    <li>
        <a href="/pages/Acupuntura.html" class="white-text">Financeiro</a>
    </li>
    <li>
        <a href="#!" class="white-text">Sistematização</a>
    </li>
    <li>
        <a href="#!" class="white-text">Inovação</a>
    </li>
    <li>
        <a href="/pages/kungfu.html" class="white-text">Serviços Digitais</a>
    </li>
</ul>


<!-- Apps -->
<ul id="ddApps" class="dropdown-content  purple darken-3">
    <li>
        <a href="/pages/Acupuntura.html" class="purple-text">The Flux</a>
    </li>
</ul>


<!-- Portifolio -->
<ul id="ddPortifolio" class="dropdown-content">
    <li>
        <a class="subheader">Pessoa Juridica</a>
    </li>
    <li>
        <a href="/pages/Acupuntura.html" class="white-text">Barbearia</a>
    </li>
    <li>
        <a href="#!" class="white-text">Igreja Vida Em Cristo</a>
    </li>
    <li>
        <a href="#!" class="white-text">Willsinho Personal</a>
    </li>
    <li>
        <a href="#!" class="white-text">CTACC</a>
    </li>
    <li>
        <a href="#!" class="white-text">Em42</a>
    </li>
    <li>
        <a href="#!" class="white-text">Dona Rute</a>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <a class="subheader">Perssoa Física</a>
    </li>
    <li>
        <a href="#!" class="white-text">Andrea Ferrari</a>
    </li>
    <li>
        <a href="#!" class="white-text">Felipe Borges</a>
    </li>
</ul>
<script>
    (function ($) {
        $(function () {

            $(".dropdown-button").dropdown();
            $(".button-collapse").sideNav();

            $("#menuDesk1").dropdown();
            $("#menuDesk2").dropdown();
            $("#menuDesk3").dropdown();
            $("#menuDesk4").dropdown();
            $("#menuDesk5").dropdown();
            $("#menuDesk6").dropdown();
            $("#menuDesk7").dropdown();
            $("#menuDesk8").dropdown();

        }); // end of document ready
    })(jQuery); // end of jQuery name space


</script>